<div class="page-content">
  <div class="page-content__item {{ modifier_class }}">
    <h3>Solutions</h3>
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. </p>
    <a href="{{ path }}" title="{{ title }}"><button class="button button--secondary">Solutions</button></a>

  </div>

  <div class="page-content__item {{ modifier_class }}">
    <h3>About us</h3>
    <p>Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor.</p>
    <a href="{{ path }}" title="{{ title }}"><button class="button button--secondary">About us</button></a>

  </div>
</div>